html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#react-entry-point {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #f5f5f5;
}
